<div class="space-y-6">
  <p class="p-4 rounded shadow bg-[var(--bg-secondary)] text-[var(--text)]">
    Results-driven <strong>Senior Software Engineer</strong> with over 8 years
    of hands-on experience designing and delivering scalable, secure, and
    high-performance software solutions across various industries. Demonstrated
    expertise in <strong>full-stack development</strong>,
    <strong>cloud computing</strong>, <strong>DevOps practices</strong>, and
    <strong>modern system architecture</strong>.
    <br />
    Proven ability to lead cross-functional engineering teams, mentor junior
    developers, and drive complex technical projects from concept to deployment.
    Skilled in implementing efficient <strong>CI/CD pipelines</strong>,
    enhancing development workflows, and ensuring robust delivery processes for
    enterprise-grade applications.
    <br />
    Adept with a diverse technology stack including <strong>Laravel</strong>,
    <strong>.NET Core</strong>, <strong>Python</strong>, <strong>Node.js</strong>,
    <strong>React</strong>, and <strong>Vue.js</strong>. Experienced with major
    cloud platforms such as <strong>Microsoft Azure</strong>,
    <strong>Amazon Web Services (AWS)</strong>, and
    <strong>Google Cloud Platform (GCP)</strong>. Passionate about delivering
    clean, maintainable code and creating impactful software that drives
    business value.
  </p>

  <hr class="my-6 dark:border-gray-500" />

  <section class="my-12">
    <h2 class="text-2xl font-semibold mb-2">Experience</h2>
    <app-experience></app-experience>
  </section>

  <hr class="my-6 dark:border-gray-500" />

  <section class="my-12">
    <h2 class="text-2xl font-semibold mb-2">Projects</h2>
    <app-projects [isProjectsPage]="false"></app-projects>
  </section>

  <hr class="my-6 dark:border-gray-500" />
</div>
