<footer class="text-center mt-8 py-4 text-sm text-gray-500 dark:text-gray-400">
  <div class="flex justify-center gap-4">
    <div class="flex gap-1">
      Made with
      <lucide-angular [img]="Heart" class="w-4 h-4 text-red-500 mt-0.5" /> by
      <a
        href="https://github.com/felixkpt"
        target="_blank"
        class="underline hover:text-indigo-500"
        >Felix Biwott</a
      >
    </div>
    —
    <a
      href="https://www.linkedin.com/in/felixkpt"
      target="_blank"
      class="underline hover:text-indigo-500"
      >LinkedIn</a
    >
    •
    <a
      href="https://portfolio.felixkpt.com"
      target="_blank"
      class="underline hover:text-indigo-500"
      >Portfolio</a
    >
  </div>
  <div class="fixed bottom-4 md:bottom-10 right-7 z-50">
    <a
      href="assets/Felix%20Biwott%20-%20GEN18_07_2025%20Resume.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-[var(--text-accent)] text-[var(--bg)] px-4 py-2 rounded hover:bg-[var(--text-primary)] transition"
    >
      View Resume
    </a>
  </div>
</footer>
