<div
  class="min-h-screen px-2 md:p-6 transition duration-300 bg-[var(--bg)] text-[var(--text)]"
  (mousemove)="onMouseMove($event)"
>
  <!-- Spotlight -->
  <div
    class="pointer-events-none fixed inset-0 z-[60] transition duration-200"
    [ngStyle]="{
      background: spotlightGradient
    }"
  ></div>

  <!-- Start Actual content -->
  <app-topnav
    [darkMode]="darkMode"
    (darkModeChange)="onDarkModeChange($event)"
    [menuOpen]="menuOpen"
    (toggleMenu)="menuOpen = $event"
  ></app-topnav>
  <div class="flex flex-col md:flex-row md:gap-2 min-h-screen">
    <app-sidenav
      [darkMode]="darkMode"
      [menuOpen]="menuOpen"
      (toggleMenu)="menuOpen = $event"
      class="rounded w-full md:w-1/4 min-w-[250px]"
    />
    <div class="flex-1 rounded mt-2 p-1 bg-[var(--bg)]">
      <router-outlet />
    </div>
  </div>
  <app-footer />
  <!-- End Actual content -->
</div>
